body{
    font-family: 'Roboto', sans-serif;
    background-color: #bfc8cc;
}


/* Navbar */

.navbar-dark .navbar-brand {
    color: rgba(255,255,255,0.5);
}

.navbar-dark .navbar-brand:hover{
        color: #a1a9af;

}

.dropdown-menu{
    text-align: center;
    background-color: #bfc8cc;
    
}
.dropdown-item-browse-letters {
    display: inline-block;
    width: 20%;
    height: 20%;
    padding: 0;
    background-color: #343a40;
    border-radius: 50%;
    text-align: center;
    color: #a1a9af;
    margin: 0.1rem;
    }

.dropdown-item:hover{
    background-color: #a1a9af;
    color: #343a40;
    font-weight: bold;
}

.navbar-dark .navbar-nav .show>.nav-link {
    color: #a1a9af;
}

.dropdown-divider{
    border-top-color: #6b7176;
}

@media only screen and (max-width: 393px) {
  a.navbar-brand {
    display: none;
  }
}

/* Links under the Navbar */


.letters-under-navbar{
    display: flex;
    
    }
    
.letters-under-navbar a{
    color: #a1a9af;
    flex-basis: 3.8%;
    flex-grow: 1;
    border: 4px solid #c6c6cb;
    background-color: #343a40;
    text-decoration: none;
    margin-right: 1px;

}

.letters-under-navbar a:hover{
    background-color: #a1a9af;
    color: #343a40;
    font-weight: bold;
}
@media only screen and (max-width: 992px) {
  div.letters-under-navbar {
    display: none;
  }
}



/*    Forms */

.size-control{
    width: 80%;
    display: inline-block;
}

@media only screen and (max-width: 991px) {
.mobile-view {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    
  }
}

@media only screen and (min-width: 576px) {
    input.size-control{
    width: 66%;
    
  }
}

@media only screen and (max-width: 575px) {
    input.size-control{
    width: 100%;
    display: block;
    
  }
}

/*    Buttons */

.vertical-control{
    vertical-align: top;
}


/* Text properties */

.paragraph{
    text-indent: 2em;
    line-height: 1.6em;
    
}

.get_word{
    height: 60vh;
}




