/*    Forms */


.size-control{
    width: 80%;
    display: inline-block;
}

/*    Buttons */

.vertical-control{
    vertical-align: top;
}



/* temporary styling*/
/*
.red-broder{
    border: red solid 1px;
}
*/
.get_word{
    height: 60vh;
}