{% extends 'base.html' %} 


{% block content %}
{% for word in category%}

<div class="row">
    <div class="col-2"></div>

    <div class="col-8">

        <div>
            <h5 class="">{{word.name}}</h5>
        </div>

        <div>
            <p class="">{{word.meaning}}</p>

        </div>
        <div>
            <p>Example:</p>
            <p class="">{{word.example}}</p>

        </div>
        <div>
            <p>Category</p>
            <p class="">{{word.category}}</p>

        </div>
        <div>
            <p class="">{{word.date}}</p>

        </div>
        <div>
            <p class="">Author: {{word.author}}</p>
        </div>
        <div>
            <a class="btn btn-outline-primary" href="{{url_for('edit_word', word_id=word._id)}}">Edit</a>
            <a class="btn btn-outline-danger" href="{{url_for('delete_word', word_id=word._id)}}">Delete</a>

        </div>


    </div>

    <div class="col-2"></div>


</div>

{% endfor%} {% endblock %}
