{% extends 'base.html' %} {% block content %} {% for word in words %}

<div class="container my-4">

    <div>
        <h6 class="">{{word.date}}</h6>
    </div>

    <div>
        <h4 class="">{{word.name}}</h4>
    </div>

    <div>
        <p class="">{{word.meaning}}</p>

    </div>
    <div>
        <p>Example:</p>
        <p class="">{{word.example}}</p>

    </div>
    <div>
        <p class="">Author: {{word.author}}</p>
    </div>

    <div>
        <button type="button" class="btn btn-secondary btn-sm">edit</button>
        <a class="btn btn-outline-danger" href="{{url_for('delete_word', word_id=word._id)}}">Delete</a>

    </div>
</div>



{% endfor %} {% endblock %}
