{% extends 'base.html' %} {% block content %} {% for word in words %}

<div class="container my-4">

    <div>
        <h4 class="">{{word.name}}</h4>
    </div>

    <div>
        <p class="">{{word.meaning}}</p>

    </div>
    <div>
        <p>Example:</p>
        <p class="">{{word.example}}</p>

    </div>
    <div>
        <p>Category</p>
        <p class="">{{word.category}}</p>

    </div>
    <div>
        <p>Date:</p>
        <p class="">{{word.date}}</p>

    </div>
    <div>
        <p class="">Author: {{word.author}}</p>
    </div>

    <div>
        <a class="btn btn-outline-primary" href="{{url_for('edit_word', word_id=word._id)}}">Edit</a>
        <a class="btn btn-outline-danger" href="{{url_for('delete_word', word_id=word._id)}}">Delete</a>

    </div>
</div>



{% endfor %} {% endblock %}
